#CONFIG
config/*
!config/default.example.json

#DEV ENVIRONMENT
*.sublime-workspace
.dev-environment/
test/*.csv
test/*.ods

#CACHE FOLDER
cache/*
!cache/.keep

#LOGGING FOLDER
logs/*
!logs/.keep
test/logs/*
!test/logs/.keep